
<section class="bike-card" id="promociones">
  <!-- Contenedor para la imagen -->
  <div class="card-image-container">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRitTT5mrV6Iwfm4dFBNs2pIigv7COIecOdbw&s" alt="Bicicleta de montaña en un sendero" class="bike-image">
  </div>

  <!-- Contenedor para el texto -->
  <div class="card-content-container">
    <h2 class="card-title">Variedad de modelos</h2> 
    <p class="card-description">
      Explora nuestro catálogo y encuentra la compañera perfecta para tus aventuras. Contamos con una amplia gama de opciones: desde bicicletas de montaña de alta resistencia hasta veloces modelos de ruta y cómodas opciones urbanas para tu día a día. ¡Tu próximo viaje empieza sobre dos ruedas!
    </p>
  </div>
</section>