

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  padding: 15px 30px;
}

.logo img {
  width: 80px;
}

.menu {
  display: flex;
  gap: 20px;
  list-style: none;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.menu a:hover {
  color: orange;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 20px;
  }

  .menu {
    flex-wrap: wrap;
    justify-content: center;
  }
}
